.cover {
    background-image: url(./images/shar2.JPG);
    height: 100vh;
 }
 
 .overlay {
    background-color: rgba(0, 0, 0, 0.2);
 }
 

.info {
   padding-bottom: 10vh;
}

.it {
   font-style: italic;
   font-size: 2.8vh;
}