.cover {
    background-image: url(./images/shar2.JPG);
    height: 100vh;
 }
 
 .overlay {
    background-color: rgba(0, 0, 0, 0.2);
 }
 
 .cover__title {
    padding-top: 30vh;
    text-align: center;
    color: #fff;
    font-size: 7vh;
    font-family: Lit, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    
 }

.info {
   padding-bottom: 10vh;
}

.it {
   font-style: italic;
   font-size: 2.8vh;
}