@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Light.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
  }

@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-Medium.ttf) format('truetype');
    font-weight: bold;
    font-display: swap;
    }


@font-face {
  font-family: Lit;
  src: url(./fonts/literaturnaya-plain-001-001.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

