
.cover {
    background-image: url(./images/shar4.JPG);
    height: 100vh;
 }
 
 .overlay {
    background-color: rgba(0, 0, 0, 0.2);
 }

.info__card-list {
   gap: 0;
}

.info__card-list-item {
   flex-basis: 500px;
   flex-grow: 1;
}

.info__card-list-item_left {
  max-width: 400px;
  
}

.card {
   padding: 4vw;
}

 .card__title {
   font-size: 3.3vh;
   color: black;
   font-weight: bold;
}

.card__text {
   font-size: 3vh;
   
}

.portrait {
   padding: 4vh 0 10vh;
}

.lots {
   padding-bottom: 10vh;
}

.lots_title {
   text-align: center;
   padding: 5vh 0;
   font-family: CMU;
   font-style: bold;
   font-size: 4vh;
   text-transform: uppercase;
}

.lots__card-list {
   padding: 0 4vh 10vh;
   display: flex;
   flex-wrap: wrap;
   gap: 2em;
   list-style-type: none;
}

.lots__card-list-item {
   flex-basis: 300px;
   flex-grow: 1;

}

.lots_card-link {
   display: block;
   text-decoration: none;
   height: 50vh;
}

.lots_card {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: space-between;
   padding: 50px 40px;
   height: 50vh;
   position: relative;
   font-family: CMU;
   background-size: cover;
   background-position: center;
   z-index: 1;
}

.one {
   background-image: url(./images/№25.jpg);
}

.two {
   background-image: url(./images/2circles.JPG);
}

.three {
   background-image: url(./images/№7.jpg);
}

.four {
   background-image: url(./images/ris.6.jpg);
}


.lots_card:hover {
   background-color: black;
   background-image: none;
   border-bottom: 10px;
 }


.lots_card__title {
   color: #FFF;
   font-size: 3vh;
   font-weight: bold;
   line-height: 1.2;
   text-transform: uppercase;
   border-bottom: solid 2px;
}

.lots_card__text {
   position: relative;
   color: #FFF;
   font-size: 3vh;
   font-style: normal;
   font-weight: normal;
   line-height: 1.2;
}

.overlaylots{
   position: absolute;
   inset: 0;
   background-position: center;
   background-size: cover;
   z-index: -1;  
   background-color: rgba(0, 0, 0, 0.4);
}

