/*HEADER*/

.cover {
    
    background-image: url(./images/coverlight.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    height: 100vh;    
 }
 
 .overlay {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
 }
 
 .cover__title {
    padding-top: 30vh;
    text-align: center;
    color: #fff;
    font-size: 5vw;
    font-family: Lit, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    
 }

/*INFO*/

 .info {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 4vh;
 }
  
 .info__card-list {
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   gap: 10vh;
 }
 
 .info__card-list-item {
    flex-basis: 300px;
    flex-grow: 1;
 }

 .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 30px;
    padding: 4vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Inter, sans-serif;
    font-weight: 700;
 }
 
 .card__title {
    color: #FFF;
    font-size: 3vh;
    color: black;
    font-style: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-underline-offset: 0.2rem;
 }
 
 .card__text {
    position: relative;
    font-size: 2.3vh;
    font-style: normal;
    font-weight: 400;
    color: black;
 }
 
 .info__look-more-link {
    font-size: 2.3vh;
    font-weight: 400;
    text-decoration: underline 1px;
    text-underline-offset: 0.3rem;
 }

.image {
   max-width: 50vh;
   max-height: 50vh;
}

/*DETAILS*/

.details {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   gap: 15vh;
   padding: 10vh 5vh 30vh;
}

.details_column {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 5vh;
}

.details_logo {
   position: relative;
   width: 40vh;
   height: 40vh;
   border-radius: 50%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   z-index: 1;
}

.details_logo:hover {
   background: black;
}

.image_about {
   background-image: url(./images/coverdark.png); 
}

.image_win {
   background-image: url(./images/coverdark.png);
}

.image_lb {
   background-image: url(./images/coverdark.png);
}


.details_title {
   align-self: center;
   position: absolute;
   font-family: Lit, serif;
   font-weight: bold;
   font-size: 3vh;
   color: white;
   text-transform: uppercase;
   text-align: center;
   z-index: 1; 
}

.details_text {
   
   
   flex-basis: 500px;
   flex-grow: 1;
   font-family: Inter, sans-serif;
   font-weight: normal;
   font-size: 2.5vh;
   line-height: 1.2;
   min-height: 50vh;
   color: black;
}

.button_more {
   background-image: url(./images/coverdark.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   border-radius: 2vh;
   height: 6vh;
   font-family: Lit, serif;
   color: white;
   font-size: 2vh;
   font-weight: bold;
   line-height: normal;
   border: 1px solid #FFF;
   text-transform: uppercase;
   padding: 12px 32px;
   align-self: center;
   width: 100%;
}

.button_more:hover {
   background: black;
}