/*HEADER*/

.cover {
    background-image: url(./images/coverlight.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    z-index: 1;
    height: 100vh;
 }

 .overlay {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
 }

 .cover__title {
    padding-top: 30vh;
    text-align: center;
    color: #fff;
    font-size: 7vh;
    font-family: Lit, serif;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: 0.025em;
 }

/*INFO*/

 .info {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 4vh;
 }

 .info__card-list {
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   gap: 10vh;
 }

 .info__card-list-item {
    flex-basis: 300px;
    flex-grow: 1;
 }

 .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 30px;
    padding: 4vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: CMU, sans-serif;
    font-weight: normal;
 }

 .card__title {
    font-family: Lit, serif;
    color: #FFF;
    font-size: 3.3vh;
    color: black;
    font-style: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-underline-offset: 0.2rem;
    letter-spacing: 0.01em;
 }

 .card__text {
    position: relative;
    font-family: CMU, serif;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    color: black;
 }

 .card__text_link {
    position: relative;
    font-family: CMU, serif;
    font-size: 2.8vh;
    font-style: normal;
    font-weight: 400;
    color: black;
 }

 .info__look-more-link {
    text-decoration: underline 1px;
    text-underline-offset: 0.3rem;
    line-height: 0.3;
    font-weight: bold;

 }

 .details_title__look-more-link {
    text-decoration: none;

 }

.image {
   max-width: 50vh;
   max-height: 50vh;
}

/*DETAILS*/

.details {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   align-self: center;
   gap: 10vh;
   padding: 15vh 4vh;

}

.details_column {
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.details_logo {
   position: relative;
   width: 45vh;
   height: 45vh;
   border-radius: 50%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   z-index: 1;
}

.details_title {
   align-self: center;
   position: absolute;
   font-family: Lit, serif;
   font-weight: bold;
   font-size: 3.3vh;
   color: white;
   text-transform: uppercase;
   text-align: center;
   z-index: 1;
   letter-spacing: 0.05em;
}

.details_text {
   flex-basis: 500px;
   flex-grow: 1;
   font-family: CMU, serif;
   font-weight: normal;
   font-size: 3vh;
   line-height: 1.2;
   min-height: 60vh;
   color: black;
   max-width: 120vh;
   line-height: 1.4;
}




.end_text {
   color: white;
   font-family: Lit, serif;
   font-size: 3vh;
   width: 100%;
   text-align: center;
   position: absolute;
   bottom: 30px;
   font-weight: normal;

}

.button_more {
   border-radius: 2vh;
   height: 10vh;
   font-family: Lit, serif;
   color: white;
   font-size: 2.5vh;
   font-weight: bold;
   line-height: normal;
   border: 1px solid #FFF;
   text-transform: uppercase;
   padding: 12px 32px;
   align-self: center;
   width: 20vw;
}

.button_more:hover {
   background: black;
}



.coverend {
  background-image: url(./images/coverout.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.letter {

	font-family: 'Lit';
	color: rgb(0, 0, 0);
	font-size: 60px;
	line-height: 60px;
	vertical-align: top;
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
}


.nodec {
   text-decoration: none;
}
