
html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  }
  
body {
  background-color: #000000; 
  color: white;
  position: relative;
  max-width: 540px;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Verdana';
  box-sizing: border-box;
  padding: 36px;
  }
  
  .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin: 0;
  }
  
  .button {
    width: 130px;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  
  .button:hover {
    opacity: 0.5;
  }
  
  .image {
    width: 40%;
    display: block;
    margin: 60px auto 50px;
  }
  
  .advice {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 70px;
    text-align: left;
    letter-spacing: -1px;
  }

  
  .footer {
    font-size: 14px;
    margin: 0;
    position: absolute;
    bottom: 36px;
  }